.vscode/
src/__pycache__
src/dotnet/bin/Debug/netcoreapp3.1/dotnet.deps.json
src/dotnet/bin/Debug/netcoreapp3.1/dotnet.dll
src/dotnet/bin/Debug/netcoreapp3.1/dotnet.exe
src/dotnet/bin/Debug/netcoreapp3.1/dotnet.pdb
src/dotnet/bin/Debug/netcoreapp3.1/dotnet.runtimeconfig.dev.json
src/dotnet/bin/Debug/netcoreapp3.1/dotnet.runtimeconfig.json
src/dotnet/obj/dotnet.csproj.nuget.dgspec.json
src/dotnet/obj/dotnet.csproj.nuget.g.props
src/dotnet/obj/dotnet.csproj.nuget.g.targets
src/dotnet/obj/project.assets.json
src/dotnet/obj/project.nuget.cache
src/dotnet/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
src/dotnet/obj/Debug/netcoreapp3.1/dotnet.AssemblyInfo.cs
src/dotnet/obj/Debug/netcoreapp3.1/dotnet.AssemblyInfoInputs.cache
src/dotnet/obj/Debug/netcoreapp3.1/dotnet.assets.cache
src/dotnet/obj/Debug/netcoreapp3.1/dotnet.csproj.CoreCompileInputs.cache
src/dotnet/obj/Debug/netcoreapp3.1/dotnet.csproj.FileListAbsolute.txt
src/dotnet/obj/Debug/netcoreapp3.1/dotnet.csprojAssemblyReference.cache
src/dotnet/obj/Debug/netcoreapp3.1/dotnet.dll
src/dotnet/obj/Debug/netcoreapp3.1/dotnet.exe
src/dotnet/obj/Debug/netcoreapp3.1/dotnet.genruntimeconfig.cache
src/dotnet/obj/Debug/netcoreapp3.1/dotnet.pdb
